*d.dll
*.user
release
releasescript/ifw/*/*/data
bin/*.exe
bin/*.dll
bin/*.a
bin/*.log
*build-*
bin/usersdellappdata*
bin/rpudesigner*
bin/bearer
bin/iconengines
bin/imageformats
bin/platforms
bin/printsupport
bin/-objfile
lib/libQt*
lib/libicu*

